In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://root:salomey@localhost:3306/md_water_services

In [ ]:
%%sql

SHOW TABLES;

In [ ]:
%%sql

SELECT * FROM employee;

In [ ]:
%%sql

SELECT * FROM location
LIMIT 5;

In [ ]:
%%sql

SELECT * FROM water_source
LIMIT 5;

In [ ]:
%%sql

SELECT DISTINCT type_of_water_source 
FROM water_source
LIMIT 5;

In [ ]:
%%sql

SELECT * FROM visits
WHERE time_in_queue >500
LIMIT 10;

In [ ]:
%%sql

SELECT * FROM visits
WHERE time_in_queue =0
LIMIT 10;

In [ ]:
%%sql

SELECT * FROM water_source
LIMIT 10;

In [ ]:
%%sql

SELECT *
FROM water_source
WHERE source_id IN ('SoRu35083224', 'KiRu26095224','SoRu38776224', 'HaRu19601224', 'AkRu05234224', 'HaZa21742224');

In [ ]:
%%sql

SELECT * FROM water_quality
LIMIT 10;

In [ ]:
%%sql

SELECT * FROM well_pollution
LIMIT 10;

In [ ]:
%%sql

SELECT * FROM water_quality
WHERE subjective_quality_score = 10
AND visit_count = 2;

In [ ]:
%%sql

SELECT * FROM well_pollution
WHERE results = "CLEAN" AND biologicaL > 0.01
LIMIT 10;

In [ ]:
%%sql

SELECT * FROM well_pollution
WHERE description LIKE "CLEAN %";

In [ ]:
%%sql

SET SQL_SAFE_UPDATES = 0;

In [ ]:
%%sql

UPDATE well_pollution
SET description = 'Bacteria: E. coli'
WHERE description = 'Clean Bacteria: E. coli';

In [ ]:
%%sql

CREATE TABLE md_water_services.well_pollution_copy
AS (
SELECT * FROM md_water_services.well_pollution
);

In [ ]:
%%sql

UPDATE well_pollution_copy
SET description = 'Bacteria: Giardia Lamblia'
WHERE description = 'Clean Bacteria: Giardia Lamblia';

In [ ]:
%%sql

UPDATE well_pollution_copy
SET results = 'Contaminated: Biological'
WHERE biological > 0.01 AND results = 'Clean';

In [ ]:
%%sql

SELECT * FROM well_pollution_copy
WHERE description LIKE "Clean_%"
OR (results = "Clean" AND biological > 0.01);

In [ ]:
%%sql

UPDATE well_pollution_copy
SET description = 'Bacteria: E. coli'
WHERE description = 'Clean Bacteria: E. coli';
UPDATE well_pollution_copy
SET description = 'Bacteria: Giardia Lamblia'
WHERE description = 'Clean Bacteria: Giardia Lamblia';
UPDATE well_pollution_copy
SET results = 'Contaminated: Biological'
WHERE biological > 0.01 AND results = 'Clean';
DROP TABLE md_water_services.well_pollution_copy;

In [ ]:
%%sql

UPDATE well_pollution
SET description = 'Bacteria: Giardia Lamblia'
WHERE description = 'Clean Bacteria: Giardia Lamblia';

In [ ]:
%%sql

UPDATE well_pollution
SET results = 'Contaminated: Biological'
WHERE biological > 0.01 AND results = 'Clean';

In [ ]:
%%sql

SELECT * FROM well_pollution
LIMIT 10;